.data-box{
    width: 920px;
    padding: 20px;
}
.data-box table{
    margin-top: 10px;
    border-spacing: 10px;
}
.data-title{
    background-color: black;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.data-question{
    font-size: 1.5rem;
}
.data-content-box{
    padding: 10px;
    border: 10px solid black;
}
.data-content{
    padding-left: 20px;
}